[project]
	description = "Plugin for  integrating github code reviews inside the intellij IDEs"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/David Hernando Sancha (duxtinto)
[access "refs/for/refs/*"]
	read = group user/David Hernando Sancha (duxtinto)
	push = group user/David Hernando Sancha (duxtinto)
	label-Code-Review = -2..+2 group user/David Hernando Sancha (duxtinto)
	label-Verified = -1..+1 group user/David Hernando Sancha (duxtinto)
	rebase = group user/David Hernando Sancha (duxtinto)
	removeReviewer = group user/David Hernando Sancha (duxtinto)
	submit = group user/David Hernando Sancha (duxtinto)
[access "refs/heads/*"]
	read = group user/David Hernando Sancha (duxtinto)
	create = group user/David Hernando Sancha (duxtinto)
	push = +force group user/David Hernando Sancha (duxtinto)
	pushMerge = group user/David Hernando Sancha (duxtinto)
[access "refs/tags/*"]
	push = group user/David Hernando Sancha (duxtinto)
	push = +force group user/David Hernando Sancha (duxtinto)
